<tr class="table-row">
    <td class="table-first-col">{{id}}. {{burger_name}}</td>
    <td>
        <form method="POST" action="/api/burgers?_method=PUT" class="button-size">
            <input type="hidden" type="text" name="burger_id" value={{id}}>
            <input class="my-1" type="text" id="eatenBy" name="eatenBy" data-id="{{id}}" placeholder="Eaten by">
            <button class="change-devour" data-id="{{id}}">Eat up!</button>
        </form>
    </td>
</tr>

